/Ejercicio_Humano/nbproject/private/
/Ejercicio_Humano/build/
/EjerNumerosEnteros/nbproject/private/
/EjerNumerosEnteros/build/
/EjerciciosParNegativo/nbproject/private/
/EjerciciosParNegativo/build/
/OrdenadoMayormenor/nbproject/private/
/OrdenadoMayormenor/build/
/NumeroRandom/nbproject/private/
/NumeroRandom/build/
/SolicitudUsuario/nbproject/private/
/SolicitudUsuario/build/
/Universidad/nbproject/private/
/Universidad/build/
